Repository northwood-labs/terraform-provider-corefunc: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, shellcheck, shfmt, yamlfmt

markdownlint:
  tags: always,docs,formatting
  run: npx -y markdownlint-cli@0.40.0 --ignore=node_modules --ignore=.github --ignore=.templates --fix "{all_files}"
  stage_fixed: true

shellcheck:
  tags: always,shell
  run: shellcheck {staged_files}
  stage_fixed: false

shfmt:
  tags: always,shell
  run: shfmt --simplify --write --language-dialect=auto --indent=4 --case-indent --space-redirects {staged_files}
  stage_fixed: true

yamlfmt:
  tags: always,secrets
  run: yamlfmt {staged_files}
  stage_fixed: true

fix: Adjust some linter rules.
  .golangci.yml
  corefunc/hashing.go
  corefunc/hashing_test.go
Due: none

test: Resolve some issues with tests.
  .github/workflows/test.yml
  .golangci.yml
  acc-coverage.svg
  corefunc/hashing_test.go
  unit-coverage.svg
Due: none

test: Skip certain tests in CI.
  corefunc/hashing_test.go
Due: none

feat: Added several hashing functions to the Go library.
  .golangci.yml
  corefunc/hashing.go
  corefunc/hashing_test.go
  corefunc/homedir.go
  go.mod
  go.tools.mod
  testfixtures/hashing.go
  unit-coverage.png
  unit-coverage.svg
Due: none

docs: Corrected a function description.
  corefunc/hashing.go
Due: none

deps: Update Go dependencies.
  Makefile
  generator/go.mod
  go.mod
  go.sum
  go.tools.mod
  go.tools.sum
  terratest/data-sources/go.mod
  terratest/data-sources/go.sum
  terratest/functions/go.mod
  terratest/functions/go.sum
Due: none

fix: Update .golangci.yml.
  .golangci.yml
Due: none

automation: Updated AUTHORS and CHANGELOG on Sun Nov 30 17:43:14 UTC 2025.
  CHANGELOG.md
Due: none

feat: Added MD5 hashing.
  Makefile
  acc-coverage.png
  acc-coverage.svg
  bats/ds_hash_md5.bats.sh
  bats/tfschema_listing.bats.sh
  corefuncprovider/hash_md5_data_source.go
  corefuncprovider/hash_md5_data_source_fixture.tftpl
  corefuncprovider/hash_md5_data_source_test.go
  corefuncprovider/hash_md5_function.go
  corefuncprovider/hash_md5_function_fixture.tftpl
  corefuncprovider/hash_md5_function_test.go
  corefuncprovider/helpers.go
  corefuncprovider/provider.go
  docs/data-sources/hash_md5.md
  docs/functions/hash_md5.md
  examples/data-sources/corefunc_hash_md5/data-source.tf
  examples/data-sources/corefunc_hash_md5/versions.tf
  examples/functions/corefunc_hash_md5/function.tf
  examples/functions/corefunc_hash_md5/versions.tf
  generator/corefuncprovider/data_source_test.gotmpl
  generator/main.go
  templates/data-sources/hash_md5.md.tmpl
  templates/functions/hash_md5.md.tmpl
  terratest/data-sources/go.mod
  terratest/data-sources/go.sum
  terratest/data-sources/hash_md5.tf
  terratest/data-sources/terraform_test.go
  terratest/functions/go.mod
  terratest/functions/go.sum
  terratest/functions/hash_md5.tf
  terratest/functions/terraform_test.go
Due: markdownlint, shellcheck, shfmt

automation: Updated AUTHORS and CHANGELOG on Sun Nov 30 19:57:31 UTC 2025.
  CHANGELOG.md
Due: none

feat: Added MD5 hashing with Base64 output.
  acc-coverage.png
  acc-coverage.svg
  bats/ds_hash_md5_base64.bats.sh
  bats/tfschema_listing.bats.sh
  corefuncprovider/hash_md5_base64_data_source.go
  corefuncprovider/hash_md5_base64_data_source_fixture.tftpl
  corefuncprovider/hash_md5_base64_data_source_test.go
  corefuncprovider/hash_md5_base64_function.go
  corefuncprovider/hash_md5_base64_function_fixture.tftpl
  corefuncprovider/hash_md5_base64_function_test.go
  corefuncprovider/provider.go
  docs/data-sources/hash_md5_base64.md
  docs/functions/hash_md5.md
  docs/functions/hash_md5_base64.md
  examples/data-sources/corefunc_hash_md5_base64/data-source.tf
  examples/data-sources/corefunc_hash_md5_base64/versions.tf
  examples/functions/corefunc_hash_md5_base64/function.tf
  examples/functions/corefunc_hash_md5_base64/versions.tf
  templates/data-sources/hash_md5_base64.md.tmpl
  templates/functions/hash_md5_base64.md.tmpl
Due: markdownlint, shellcheck, shfmt

automation: Updated AUTHORS and CHANGELOG on Sun Nov 30 20:14:09 UTC 2025.
  CHANGELOG.md
Due: none

test: Terratest for MD5 hashing with Base64 output.
  terratest/data-sources/hash_md5.tf
  terratest/data-sources/terraform_test.go
  terratest/functions/hash_md5.tf
  terratest/functions/terraform_test.go
Due: none

automation: Updated AUTHORS and CHANGELOG on Sun Nov 30 20:17:43 UTC 2025.
  CHANGELOG.md
Due: none

automation: Updated AUTHORS and CHANGELOG on Sun Nov 30 20:47:39 UTC 2025.
  CHANGELOG.md
Due: none

automation: Updated AUTHORS and CHANGELOG on Sun Nov 30 21:22:56 UTC 2025.
  CHANGELOG.md
Due: none

automation: Updated AUTHORS and CHANGELOG on Sun Nov 30 21:57:04 UTC 2025.
  CHANGELOG.md
Due: none

feat: Added Argon2 hashing.
  acc-coverage.png
  acc-coverage.svg
  bats/ds_hash_argon2id.bats.sh
  corefuncprovider/hash_argon2id_data_source.go
  corefuncprovider/hash_argon2id_data_source_fixture.tftpl
  corefuncprovider/hash_argon2id_data_source_test.go
  corefuncprovider/hash_argon2id_function.go
  corefuncprovider/hash_argon2id_function_fixture.tftpl
  corefuncprovider/hash_argon2id_function_test.go
  corefuncprovider/provider.go
  docs/data-sources/hash_argon2id.md
  docs/functions/hash_argon2id.md
  examples/data-sources/corefunc_hash_argon2id/data-source.tf
  examples/data-sources/corefunc_hash_argon2id/versions.tf
  examples/functions/corefunc_hash_argon2id/function.tf
  examples/functions/corefunc_hash_argon2id/versions.tf
  generator/bats/test.tmpl
  generator/corefuncprovider/data_source_fixture.tftpl
  generator/corefuncprovider/function_fixture.tftpl
  generator/examples/data-source.tftpl
  generator/examples/function.tftpl
  generator/main.go
  templates/data-sources/hash_argon2id.md.tmpl
  templates/functions/hash_argon2id.md.tmpl
Due: markdownlint, shellcheck, shfmt

automation: Updated AUTHORS and CHANGELOG on Sun Nov 30 23:08:22 UTC 2025.
  CHANGELOG.md
Due: none

automation: Updated AUTHORS and CHANGELOG on Mon Dec 1 00:24:51 UTC 2025.
  CHANGELOG.md
Due: none

test: Add Terratest tests. Some refactoring.
  .gitignore
  .golangci.yml
  acc-coverage.png
  acc-coverage.svg
  terratest/data-sources/go.mod
  terratest/data-sources/go.sum
  terratest/data-sources/hash_argon2id.tf
  terratest/data-sources/hash_hmac_sha256.tf
  terratest/data-sources/hash_scrypt.tf
  terratest/data-sources/hash_sha1.tf
  terratest/data-sources/hash_sha256.tf
  terratest/data-sources/hash_sha384.tf
  terratest/data-sources/hash_sha3x256.tf
  terratest/data-sources/hash_sha3x384.tf
  terratest/data-sources/hash_sha3x512.tf
  terratest/data-sources/hash_sha512.tf
  terratest/data-sources/terraform_test.go
  terratest/functions/go.mod
  terratest/functions/go.sum
  terratest/functions/hash_argon2id.tf
  terratest/functions/hash_hmac_sha256.tf
  terratest/functions/hash_scrypt.tf
  terratest/functions/hash_sha1.tf
  terratest/functions/hash_sha256.tf
  terratest/functions/hash_sha384.tf
  terratest/functions/hash_sha3x256.tf
  terratest/functions/hash_sha3x384.tf
  terratest/functions/hash_sha3x512.tf
  terratest/functions/hash_sha512.tf
  terratest/functions/terraform_test.go
Due: none

automation: Updated AUTHORS and CHANGELOG on Mon Dec 1 21:38:07 UTC 2025.
  CHANGELOG.md
Due: none

docs: Generated updated documentation for the provider.
  corefuncprovider/hash_hmac_base64sha256_data_source.go
  corefuncprovider/hash_hmac_sha256_data_source.go
  corefuncprovider/net_cidr_contains_data_source.go
  corefuncprovider/net_cidr_contains_function.go
  corefuncprovider/str_base64_gunzip_data_source.go
  corefuncprovider/str_base64_gunzip_function.go
  corefuncprovider/url_decode_data_source.go
  corefuncprovider/url_decode_function.go
  docs/data-sources/hash_hmac_base64sha256.md
  docs/data-sources/hash_hmac_sha256.md
  docs/data-sources/net_cidr_contains.md
  docs/data-sources/str_base64_gunzip.md
  docs/data-sources/url_decode.md
  docs/functions/net_cidr_contains.md
  docs/functions/str_base64_gunzip.md
  docs/functions/url_decode.md
Due: markdownlint

fix: Remove the docgen implementation for now.
  internal/tools/docgen/main.go
Due: none

automation: Updated AUTHORS and CHANGELOG on Mon Dec 1 22:55:59 UTC 2025.
  CHANGELOG.md
Due: none

feat: Added str_startswith.
  .editorconfig-checker.json
  acc-coverage.png
  acc-coverage.svg
  bats/ds_str_startswith.bats.sh
  corefunc/strings.go
  corefunc/strings_test.go
  corefunc/url.go
  corefuncprovider/provider.go
  corefuncprovider/str_startswith_data_source.go
  corefuncprovider/str_startswith_data_source_fixture.tftpl
  corefuncprovider/str_startswith_data_source_test.go
  corefuncprovider/str_startswith_function.go
  corefuncprovider/str_startswith_function_fixture.tftpl
  corefuncprovider/str_startswith_function_test.go
  corefuncprovider/url_decode_function.go
  docs/data-sources/str_startswith.md
  docs/data-sources/url_decode.md
  docs/functions/str_startswith.md
  docs/functions/url_decode.md
  ecrc.toml
  examples/data-sources/corefunc_str_startswith/data-source.tf
  examples/data-sources/corefunc_str_startswith/versions.tf
  examples/functions/corefunc_str_startswith/function.tf
  examples/functions/corefunc_str_startswith/versions.tf
  generator/corefuncprovider/data_source.gotmpl
  generator/corefuncprovider/data_source_fixture.tftpl
  generator/corefuncprovider/function_fixture.tftpl
  generator/corefuncprovider/function_test.gotmpl
  generator/examples/data-source.tftpl
  generator/examples/function.tftpl
  templates/data-sources/str_startswith.md.tmpl
  templates/functions/str_startswith.md.tmpl
  testfixtures/str_startswith.go
  testfixtures/strings.go
  testfixtures/url.go
  unit-coverage.png
  unit-coverage.svg
Due: markdownlint, shellcheck, shfmt

automation: Updated AUTHORS and CHANGELOG on Tue Dec 2 17:59:43 UTC 2025.
  CHANGELOG.md
Due: none

feat: Added str_endswith.
  acc-coverage.png
  acc-coverage.svg
  bats/ds_str_endswith.bats.sh
  corefuncprovider/provider.go
  corefuncprovider/str_endswith_data_source.go
  corefuncprovider/str_endswith_data_source_fixture.tftpl
  corefuncprovider/str_endswith_data_source_test.go
  corefuncprovider/str_endswith_function.go
  corefuncprovider/str_endswith_function_fixture.tftpl
  corefuncprovider/str_endswith_function_test.go
  docs/data-sources/str_endswith.md
  docs/data-sources/str_startswith.md
  docs/functions/str_endswith.md
  docs/functions/str_startswith.md
  examples/data-sources/corefunc_str_endswith/data-source.tf
  examples/data-sources/corefunc_str_endswith/versions.tf
  examples/functions/corefunc_str_endswith/function.tf
  examples/functions/corefunc_str_endswith/versions.tf
  templates/data-sources/str_endswith.md.tmpl
  templates/functions/str_endswith.md.tmpl
Due: markdownlint, shellcheck, shfmt

automation: Updated AUTHORS and CHANGELOG on Tue Dec 2 18:20:05 UTC 2025.
  CHANGELOG.md
Due: none

feat: Added str_contains.
  acc-coverage.png
  acc-coverage.svg
  bats/ds_str_contains.bats.sh
  corefunc/strings.go
  corefunc/strings_test.go
  corefuncprovider/provider.go
  corefuncprovider/str_contains_data_source.go
  corefuncprovider/str_contains_data_source_fixture.tftpl
  corefuncprovider/str_contains_data_source_test.go
  corefuncprovider/str_contains_function.go
  corefuncprovider/str_contains_function_fixture.tftpl
  corefuncprovider/str_contains_function_test.go
  docs/data-sources/str_contains.md
  docs/functions/str_contains.md
  examples/data-sources/corefunc_str_contains/data-source.tf
  examples/data-sources/corefunc_str_contains/versions.tf
  examples/functions/corefunc_str_contains/function.tf
  examples/functions/corefunc_str_contains/versions.tf
  templates/data-sources/str_contains.md.tmpl
  templates/functions/str_contains.md.tmpl
Due: markdownlint, shellcheck, shfmt

automation: Updated AUTHORS and CHANGELOG on Tue Dec 2 18:36:47 UTC 2025.
  CHANGELOG.md
Due: none

fix: Fix and streamline a couple of broken tests.
  Makefile
  corefunc/env_ensure.go
  corefunc/env_ensure_test.go
  go.mod
  go.tools.mod
  terratest/data-sources/terraform_test.go
  terratest/functions/terraform_test.go
  testfixtures/env_ensure.go
Due: none

deps: Updated the Go dependencies.
  .gitignore
  go.mod
  go.sum
  go.tools.mod
  go.tools.sum
  terratest/data-sources/go.mod
  terratest/data-sources/go.sum
  terratest/functions/go.mod
  terratest/functions/go.sum
Due: none

automation: Updated AUTHORS and CHANGELOG on Fri Nov 28 15:45:03 UTC 2025.
  CHANGELOG.md
Due: none

Path conditions:
  markdownlint: any of: **/*.md
  shellcheck: any of: **/*.sh
  shfmt: any of: **/*.sh
  yamlfmt: any of: **/*.ya?ml
