Repository northwood-labs/terraform-provider-corefunc: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, shellcheck, shfmt, yamlfmt

markdownlint:
  tags: always,docs,formatting
  run: npx -y markdownlint-cli@0.40.0 --ignore=node_modules --ignore=.github --ignore=.templates --fix "{all_files}"
  stage_fixed: true

shellcheck:
  tags: always,shell
  run: shellcheck {staged_files}
  stage_fixed: false

shfmt:
  tags: always,shell
  run: shfmt --simplify --write --language-dialect=auto --indent=4 --case-indent --space-redirects {staged_files}
  stage_fixed: true

yamlfmt:
  tags: always,secrets
  run: yamlfmt {staged_files}
  stage_fixed: true

automation: Updated AUTHORS and CHANGELOG on Tue Dec 2 18:36:47 UTC 2025.
  CHANGELOG.md
Due: none

feat: Added str_contains.
  acc-coverage.png
  acc-coverage.svg
  bats/ds_str_contains.bats.sh
  corefunc/strings.go
  corefunc/strings_test.go
  corefuncprovider/provider.go
  corefuncprovider/str_contains_data_source.go
  corefuncprovider/str_contains_data_source_fixture.tftpl
  corefuncprovider/str_contains_data_source_test.go
  corefuncprovider/str_contains_function.go
  corefuncprovider/str_contains_function_fixture.tftpl
  corefuncprovider/str_contains_function_test.go
  docs/data-sources/str_contains.md
  docs/functions/str_contains.md
  examples/data-sources/corefunc_str_contains/data-source.tf
  examples/data-sources/corefunc_str_contains/versions.tf
  examples/functions/corefunc_str_contains/function.tf
  examples/functions/corefunc_str_contains/versions.tf
  templates/data-sources/str_contains.md.tmpl
  templates/functions/str_contains.md.tmpl
Due: markdownlint, shellcheck, shfmt

automation: Updated AUTHORS and CHANGELOG on Wed Dec 3 01:39:42 UTC 2025.
  CHANGELOG.md
Due: none

feat: Implemented time_parse.
  README.md
  acc-coverage.png
  acc-coverage.svg
  bats/ds_str_contains.bats.sh
  bats/ds_str_endswith.bats.sh
  bats/ds_str_startswith.bats.sh
  bats/ds_time_parse.bats.sh
  bats/tfschema_listing.bats.sh
  corefunc/time.go
  corefunc/time_test.go
  corefunc/types/time.go
  corefuncprovider/provider.go
  corefuncprovider/time_parse_data_source.go
  corefuncprovider/time_parse_data_source_fixture.tftpl
  corefuncprovider/time_parse_data_source_test.go
  corefuncprovider/time_parse_function.go
  corefuncprovider/time_parse_function_fixture.tftpl
  corefuncprovider/time_parse_function_test.go
  docs/data-sources/time_parse.md
  docs/functions/time_parse.md
  examples/data-sources/corefunc_time_parse/data-source.tf
  examples/data-sources/corefunc_time_parse/versions.tf
  examples/functions/corefunc_time_parse/function.tf
  examples/functions/corefunc_time_parse/versions.tf
  templates/data-sources/time_parse.md.tmpl
  templates/functions/time_parse.md.tmpl
  terratest/data-sources/str_startswith.tf
  terratest/data-sources/terraform_test.go
  terratest/data-sources/time_parse.tf
  terratest/functions/str_startswith.tf
  terratest/functions/terraform_test.go
  terratest/functions/time_parse.tf
  testfixtures/time.go
  unit-coverage.png
  unit-coverage.svg
Due: markdownlint, shellcheck, shfmt

automation: Updated AUTHORS and CHANGELOG on Wed Dec 3 02:31:49 UTC 2025.
  CHANGELOG.md
Due: none

test: Skip some tests when running in CI.
  corefunc/time_test.go
  corefuncprovider/hash_argon2id_base64_data_source_test.go
  corefuncprovider/hash_argon2id_base64_function_test.go
  corefuncprovider/hash_argon2id_data_source_test.go
  corefuncprovider/hash_argon2id_function_test.go
  corefuncprovider/time_parse_data_source_test.go
  corefuncprovider/time_parse_function_test.go
Due: none

automation: Updated AUTHORS and CHANGELOG on Wed Dec 3 07:35:26 UTC 2025.
  CHANGELOG.md
Due: none

feat: Added str_byte_length and time_compare.
  README.md
  acc-coverage.png
  acc-coverage.svg
  bats/ds_str_byte_length.bats.sh
  bats/ds_time_compare.bats.sh
  corefuncprovider/helpers.go
  corefuncprovider/provider.go
  corefuncprovider/str_byte_length_data_source.go
  corefuncprovider/str_byte_length_data_source_fixture.tftpl
  corefuncprovider/str_byte_length_data_source_test.go
  corefuncprovider/str_byte_length_function.go
  corefuncprovider/str_byte_length_function_fixture.tftpl
  corefuncprovider/str_byte_length_function_test.go
  corefuncprovider/time_compare_data_source.go
  corefuncprovider/time_compare_data_source_fixture.tftpl
  corefuncprovider/time_compare_data_source_test.go
  corefuncprovider/time_compare_function.go
  corefuncprovider/time_compare_function_fixture.tftpl
  corefuncprovider/time_compare_function_test.go
  docs/data-sources/str_byte_length.md
  docs/data-sources/time_compare.md
  docs/functions/str_byte_length.md
  docs/functions/time_compare.md
  examples/data-sources/corefunc_str_byte_length/data-source.tf
  examples/data-sources/corefunc_str_byte_length/versions.tf
  examples/data-sources/corefunc_time_compare/data-source.tf
  examples/data-sources/corefunc_time_compare/versions.tf
  examples/functions/corefunc_str_byte_length/function.tf
  examples/functions/corefunc_str_byte_length/versions.tf
  examples/functions/corefunc_time_compare/function.tf
  examples/functions/corefunc_time_compare/versions.tf
  templates/data-sources/str_byte_length.md.tmpl
  templates/data-sources/time_compare.md.tmpl
  templates/functions/str_byte_length.md.tmpl
  templates/functions/time_compare.md.tmpl
Due: markdownlint, shellcheck, shfmt

docs: Updated the README.
  README.md
Due: none

automation: Updated AUTHORS and CHANGELOG on Wed Dec 3 08:05:38 UTC 2025.
  CHANGELOG.md
Due: none

automation: Updated AUTHORS and CHANGELOG on Wed Dec 3 07:52:55 UTC 2025.
  CHANGELOG.md
Due: none

deps: Updated the Go dependencies.
  go.mod
  go.sum
  go.tools.mod
  go.tools.sum
  terratest/data-sources/go.mod
  terratest/data-sources/go.sum
  terratest/functions/go.mod
  terratest/functions/go.sum
Due: none

automation: Updated AUTHORS and CHANGELOG on Wed Dec 3 08:12:11 UTC 2025.
  CHANGELOG.md
Due: none

test: Added the remaining Terratest tests.
  bats/tfschema_listing.bats.sh
  terratest/data-sources/str_byte_length.tf
  terratest/data-sources/str_contains.tf
  terratest/data-sources/str_endswith.tf
  terratest/data-sources/str_startswith.tf
  terratest/data-sources/terraform_test.go
  terratest/data-sources/time_compare.tf
  terratest/functions/str_byte_length.tf
  terratest/functions/str_contains.tf
  terratest/functions/str_endswith.tf
  terratest/functions/str_startswith.tf
  terratest/functions/terraform_test.go
  terratest/functions/time_compare.tf
Due: shellcheck, shfmt

automation: Updated AUTHORS and CHANGELOG on Wed Dec 3 17:20:07 UTC 2025.
  CHANGELOG.md
Due: none

test: Add more benchmarking and fuzzing tests for the core library.
  corefunc/cidr_test.go
  corefunc/str_byte_length_test.go
  corefunc/strings_test.go
  corefunc/time_test.go
  corefunc/toml_test.go
  unit-coverage.svg
Due: none

relprep: Preparing the v2.2.0 release.
  CHANGELOG.md
Due: none

automation: Updated AUTHORS and CHANGELOG on Wed Dec 3 18:00:12 UTC 2025.
  CHANGELOG.md
Due: none

automation: Updated AUTHORS and CHANGELOG on Wed Dec 3 18:01:29 UTC 2025.
  CHANGELOG.md
Due: none

automation: Updated AUTHORS and CHANGELOG on Wed Dec 3 20:12:56 UTC 2025.
  CHANGELOG.md
Due: none

fix: Fixed some documentation TODOs in the provider.
  corefuncprovider/hash_sha256_base64_function.go
  corefuncprovider/hash_sha512_base64_function.go
  docs/functions/hash_sha256_base64.md
  unit-coverage.svg
Due: markdownlint

automation: Updated AUTHORS and CHANGELOG on Wed Dec 3 21:10:38 UTC 2025.
  CHANGELOG.md
Due: none

deps: Updated the Go dependencies.
  docs/data-sources/hash_argon2id.md
  docs/data-sources/hash_argon2id_base64.md
  docs/data-sources/hash_scrypt.md
  docs/data-sources/hash_scrypt_base64.md
  docs/functions/hash_argon2id.md
  docs/functions/hash_argon2id_base64.md
  docs/functions/hash_scrypt.md
  docs/functions/hash_scrypt_base64.md
  go.mod
  go.sum
  go.tools.mod
  go.tools.sum
Due: markdownlint

relprep: Preparing the v2.2.1 release.
  CHANGELOG.md
Due: none

automation: Updated AUTHORS and CHANGELOG on Wed Dec 3 21:14:48 UTC 2025.
  CHANGELOG.md
Due: none

automation: Updated AUTHORS and CHANGELOG on Wed Dec 3 21:16:51 UTC 2025.
  CHANGELOG.md
Due: none

automation: Updated AUTHORS and CHANGELOG on Wed Dec 3 21:22:06 UTC 2025.
  CHANGELOG.md
Due: none

docs: Fixed an outdated link.
  README.md
  docs/index.md
  templates/index.md.tmpl
Due: markdownlint

automation: Updated AUTHORS and CHANGELOG on Thu Dec 4 14:21:55 UTC 2025.
  CHANGELOG.md
Due: none

test: Allow outbound requests to release-assets.githubusercontent.com.
  .github/workflows/terratest.yml
  docs/data-sources/hash_argon2id.md
  docs/data-sources/hash_argon2id_base64.md
  docs/data-sources/hash_scrypt.md
  docs/data-sources/hash_scrypt_base64.md
  docs/functions/hash_argon2id.md
  docs/functions/hash_argon2id_base64.md
  docs/functions/hash_scrypt.md
  docs/functions/hash_scrypt_base64.md
Due: markdownlint

automation: Updated AUTHORS and CHANGELOG on Fri Dec 5 16:01:20 UTC 2025.
  CHANGELOG.md
Due: none

test: Added OpenTofu 1.11 to the test matrix.
  .github/workflows/test.yml
Due: none

automation: Updated AUTHORS and CHANGELOG on Fri Dec 12 20:44:41 UTC 2025.
  CHANGELOG.md
Due: none

automation: Updated AUTHORS and CHANGELOG on Tue Jan 6 18:23:18 UTC 2026.
  CHANGELOG.md
Due: none

automation: Updated AUTHORS and CHANGELOG on Tue Jan 6 18:28:23 UTC 2026.
  CHANGELOG.md
Due: none

feat: Tighten-up project-specific MCP server configuration.
  .github/chatmodes/4.1-Beast.chatmode.md
  .github/chatmodes/Code-Reviewer.chatmode.md
  .github/prompts/editorconfig.prompt.md
  .kiro/settings/config.yml
  .kiro/settings/configure-aws-mcp.sh
  .kiro/settings/configure-docker-mcp.sh
  .kiro/settings/mcp.json
  .vscode/settings.json
Due: markdownlint, shellcheck, shfmt

deps: Updated all Go dependencies.
  go.mod
  go.sum
  go.tools.mod
  go.tools.sum
  terratest/data-sources/go.mod
  terratest/data-sources/go.sum
  terratest/functions/go.mod
  terratest/functions/go.sum
Due: none

automation: Updated AUTHORS and CHANGELOG on Tue Jan 6 19:23:56 UTC 2026.
  CHANGELOG.md
Due: none

automation: Updated AUTHORS and CHANGELOG on Fri Feb 20 21:25:07 UTC 2026.
  CHANGELOG.md
Due: none

Path conditions:
  markdownlint: any of: **/*.md
  shellcheck: any of: **/*.sh
  shfmt: any of: **/*.sh
  yamlfmt: any of: **/*.ya?ml
