Repository northwood-labs/terraform-provider-corefunc: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, shellcheck, shfmt, yamlfmt

.lefthook.yml:

---
assert_lefthook_installed: true
colors: true
no_tty: false
min_version: 1.4.11

rc: ~/.lefthookrc
source_dir: .lefthook/
source_dir_local: .lefthook-local/

output:
  - summary
  - empty_summary
  - success
  - failure

pre-commit:
  parallel: true
  commands:
    ec-check:
      tags: "always,formatting"
      run: tomljson ecrc.toml > .ecrc && editorconfig-checker .
      stage_fixed: true

    # git-check:
    #   tags: "always,git"
    #   run: >-
    #     git diff-index --check "$(git hash-object -t tree /dev/null)"
    #   stage_fixed: true

    markdownlint:
      tags: "always,docs,formatting"
      glob: "**/*.md"
      run: >-
        npx -y markdownlint-cli@0.40.0 --ignore=node_modules --ignore=.github --ignore=.templates --fix "{all_files}"
      stage_fixed: true

    shellcheck:
      tags: "always,shell"
      glob: "**/*.sh"
      run: >-
        shellcheck {staged_files}
      stage_fixed: false

    shfmt:
      tags: "always,shell"
      glob: "**/*.sh"
      run: >-
        shfmt --simplify --write --language-dialect=auto --indent=4 --case-indent --space-redirects {staged_files}
      stage_fixed: true

    trivy-vuln:
      tags: "always,secrets"
      run: >-
        trivy fs --config trivy-vuln.yaml --ignorefile .trivyignore.yaml .
      stage_fixed: false

    trivy-license:
      tags: "always,secrets"
      run: >-
        trivy fs --config trivy-license.yaml --ignorefile .trivyignore.yaml .
      stage_fixed: false

    trufflehog:
      tags: "always,secrets"
      run: >-
        trufflehog git file://. --since-commit HEAD --only-verified --fail --json 2>/dev/null | jq '.'
      stage_fixed: false

    yamlfmt:
      tags: "always,secrets"
      glob: "**/*.ya?ml"
      run: "yamlfmt {staged_files}"
      stage_fixed: true

  scripts:
    # If the file is marked as executable, it should start with a hashbang.
    "executable_must_have_hashbang.sh":
      runner: bash

    # Shell scripts MUST have a file extension.
    "script_must_have_extension.sh":
      runner: bash

    # File MUST always end with a trailing linebreak.
    "end_of_file.py":
      runner: python3.10

    # Remove trailing whitespace from lines.
    "remove_trailing_whitespace.py":
      runner: python3.10

commit-msg:
  commands:
    conventional_commit:
      run: gommit check message "$(cat {1})"

test: Add a manual switch to re-build an existing release.
  .github/workflows/release.yml
Due: none

test: Remove PGO optimization.
  .gitignore
  default.pgo
Due: none

test: Allow tests to connect to uploads.github.com:443.
  .github/workflows/release.yml
Due: none

automation: Updated AUTHORS and CHANGELOG on Thu Mar 7 22:39:13 UTC 2024.
  CHANGELOG.md
Due: none

automation: Updated AUTHORS and CHANGELOG on Thu Mar 7 23:04:56 UTC 2024.
  CHANGELOG.md
Due: none

docs: Updated the CHANGELOG.
  CHANGELOG.md
Due: none

automation: Updated AUTHORS and CHANGELOG on Fri Mar 8 15:11:35 UTC 2024.
  CHANGELOG.md
Due: none

docs: Generated an updated CHANGELOG.
  CHANGELOG.md
Due: none

deps: Updated the Go dependencies and mod file.
  corefuncprovider/provider.go
  go.mod
  go.sum
Due: none

automation: Updated AUTHORS and CHANGELOG on Thu Mar 7 23:50:02 UTC 2024.
  CONTRIBUTORS
Due: none

feat: Implemented str_snake() as a function.
  acc-coverage.png
  acc-coverage.svg
  corefuncprovider/str_snake_function.go
  corefuncprovider/str_snake_function_fixture.tftpl
  corefuncprovider/str_snake_function_test.go
  go.mod
  unit-coverage.png
  unit-coverage.svg
Due: none

feat: First feature-complete function implementation.
  acc-coverage.png
  acc-coverage.svg
  corefuncprovider/str_snake_data_source_test.go
  corefuncprovider/str_snake_function_test.go
  docs/functions/str_snake.md
  examples/functions/corefunc_str_snake/function.tf
  examples/functions/corefunc_str_snake/versions.tf
  generator/README.md
  generator/corefuncprovider/function.gotmpl
  generator/corefuncprovider/function_fixture.tftpl
  generator/corefuncprovider/function_test.gotmpl
  generator/examples/function.tftpl
  generator/examples/versions.ds.tftpl
  generator/examples/versions.fn.tftpl
  generator/main.go
  generator/templates/function.md.gotmpl
  templates/functions.md.tmpl
  templates/functions/str_snake.md.tmpl
Due: markdownlint

refactor: Moved the provider.Functions function to this branch.
  corefuncprovider/provider.go
Due: none

test: Make some adjustments for the test suite.
  acc-coverage.svg
  bats/ds_env_ensure.bats.sh
  bats/ds_homedir_expand.bats.sh
  bats/ds_homedir_get.bats.sh
  bats/ds_int_leftpad.bats.sh
  bats/ds_runtime_cpuarch.bats.sh
  bats/ds_runtime_goroot.bats.sh
  bats/ds_runtime_numcpus.bats.sh
  bats/ds_runtime_os.bats.sh
  bats/ds_str_camel.bats.sh
  bats/ds_str_constant.bats.sh
  bats/ds_str_iterative_replace.bats.sh
  bats/ds_str_kebab.bats.sh
  bats/ds_str_leftpad.bats.sh
  bats/ds_str_pascal.bats.sh
  bats/ds_str_snake.bats.sh
  bats/ds_str_truncate_label.bats.sh
  bats/ds_url_parse.bats.sh
  terratest/functions/env.tf
  terratest/functions/terraform_test.go
  unit-coverage.svg
Due: shellcheck, shfmt

feat: Added Homedir functions.
  acc-coverage.png
  acc-coverage.svg
  corefuncprovider/env_ensure_function.go
  corefuncprovider/homedir_expand_function.go
  corefuncprovider/homedir_expand_function_fixture.tftpl
  corefuncprovider/homedir_expand_function_test.go
  corefuncprovider/homedir_get_function.go
  corefuncprovider/homedir_get_function_fixture.tftpl
  corefuncprovider/homedir_get_function_test.go
  corefuncprovider/provider.go
  examples/functions/corefunc_homedir_expand/function.tf
  examples/functions/corefunc_homedir_expand/versions.tf
  examples/functions/corefunc_homedir_get/function.tf
  examples/functions/corefunc_homedir_get/versions.tf
  generator/main.go
  templates/data-sources/homedir_expand.md.tmpl
  templates/data-sources/homedir_get.md.tmpl
  templates/functions/homedir_expand.md.tmpl
  templates/functions/homedir_get.md.tmpl
  terratest/functions/homedir.tf
  terratest/functions/terraform_test.go
  testfixtures/homedir_expand.go
  testfixtures/homedir_get.go
Due: none

feat: Ported runtime functions to functions.
  acc-coverage.png
  acc-coverage.svg
  corefuncprovider/provider.go
  corefuncprovider/runtime_cpuarch_function.go
  corefuncprovider/runtime_cpuarch_function_fixture.tftpl
  corefuncprovider/runtime_cpuarch_function_test.go
  corefuncprovider/runtime_goroot_function.go
  corefuncprovider/runtime_goroot_function_fixture.tftpl
  corefuncprovider/runtime_goroot_function_test.go
  corefuncprovider/runtime_numcpus_function.go
  corefuncprovider/runtime_numcpus_function_fixture.tftpl
  corefuncprovider/runtime_numcpus_function_test.go
  corefuncprovider/runtime_os_function.go
  corefuncprovider/runtime_os_function_fixture.tftpl
  corefuncprovider/runtime_os_function_test.go
  docs/functions/env_ensure.md
  docs/functions/runtime_cpuarch.md
  docs/functions/runtime_goroot.md
  docs/functions/runtime_numcpus.md
  docs/functions/runtime_os.md
  examples/data-sources/corefunc_runtime_cpuarch/versions.tf
  examples/data-sources/corefunc_runtime_goroot/versions.tf
  examples/data-sources/corefunc_runtime_numcpus/versions.tf
  examples/data-sources/corefunc_runtime_os/versions.tf
  examples/functions/corefunc_env_ensure/function.AWS_VAULT.tf
  examples/functions/corefunc_runtime_cpuarch/function.tf
  examples/functions/corefunc_runtime_cpuarch/versions.tf
  examples/functions/corefunc_runtime_goroot/function.tf
  examples/functions/corefunc_runtime_goroot/versions.tf
  examples/functions/corefunc_runtime_numcpus/function.tf
  examples/functions/corefunc_runtime_numcpus/versions.tf
  examples/functions/corefunc_runtime_os/function.tf
  examples/functions/corefunc_runtime_os/versions.tf
  templates/functions/runtime_cpuarch.md.tmpl
  templates/functions/runtime_goroot.md.tmpl
  templates/functions/runtime_numcpus.md.tmpl
  templates/functions/runtime_os.md.tmpl
  terratest/functions/runtime.tf
  terratest/functions/terraform_test.go
  unit-coverage.svg
Due: markdownlint

docs: Added Homedir functions.
  docs/functions/homedir_expand.md
  docs/functions/homedir_get.md
Due: markdownlint

docs: Updated docs around OpenTofu and TF 1.8.
  corefuncprovider/provider.go
  corefuncprovider/str_iterative_replace_data_source_fixture.tftpl
  docs/data-sources/str_iterative_replace.md
  docs/index.md
  examples/data-sources/corefunc_str_iterative_replace/data-source.tf
  examples/provider/provider_ds.tf
  examples/provider/provider_fn.tf
  templates/index.md.tmpl
Due: markdownlint

feat: Implementation of string formatting as funcs.
  acc-coverage.png
  acc-coverage.svg
  corefuncprovider/provider.go
  corefuncprovider/str_camel_function.go
  corefuncprovider/str_camel_function_fixture.tftpl
  corefuncprovider/str_camel_function_test.go
  corefuncprovider/str_constant_function.go
  corefuncprovider/str_constant_function_fixture.tftpl
  corefuncprovider/str_constant_function_test.go
  corefuncprovider/str_kebab_function.go
  corefuncprovider/str_kebab_function_fixture.tftpl
  corefuncprovider/str_kebab_function_test.go
  corefuncprovider/str_pascal_function.go
  corefuncprovider/str_pascal_function_fixture.tftpl
  corefuncprovider/str_pascal_function_test.go
  docs/functions/str_camel.md
  docs/functions/str_constant.md
  docs/functions/str_kebab.md
  docs/functions/str_pascal.md
  examples/data-sources/corefunc_str_camel/data-source.tf
  examples/data-sources/corefunc_str_constant/data-source.tf
  examples/data-sources/corefunc_str_kebab/data-source.tf
  examples/data-sources/corefunc_str_pascal/data-source.tf
  examples/functions/corefunc_str_camel/function.tf
  examples/functions/corefunc_str_camel/versions.tf
  examples/functions/corefunc_str_constant/function.tf
  examples/functions/corefunc_str_constant/versions.tf
  examples/functions/corefunc_str_kebab/function.tf
  examples/functions/corefunc_str_kebab/versions.tf
  examples/functions/corefunc_str_pascal/function.tf
  examples/functions/corefunc_str_pascal/versions.tf
  templates/functions/str_camel.md.tmpl
  templates/functions/str_constant.md.tmpl
  templates/functions/str_kebab.md.tmpl
  templates/functions/str_pascal.md.tmpl
  terratest/functions/str_format.tf
  terratest/functions/terraform_test.go
Due: markdownlint

docs: Cleaned up some documentation.
  corefuncprovider/homedir_expand_data_source.go
  corefuncprovider/homedir_expand_function.go
  docs/data-sources/homedir_expand.md
  docs/functions/homedir_expand.md
  docs/functions/homedir_get.md
  docs/functions/runtime_cpuarch.md
  docs/functions/runtime_goroot.md
  docs/functions/runtime_numcpus.md
  docs/functions/runtime_os.md
  examples/functions/corefunc_homedir_expand/function.tf
  examples/functions/corefunc_homedir_get/function.tf
  templates/functions/homedir_get.md.tmpl
  templates/functions/runtime_cpuarch.md.tmpl
  templates/functions/runtime_goroot.md.tmpl
  templates/functions/runtime_numcpus.md.tmpl
  templates/functions/runtime_os.md.tmpl
Due: markdownlint

feat: Implemented leftpads as functions.
  acc-coverage.png
  acc-coverage.svg
  corefuncprovider/int_leftpad_function.go
  corefuncprovider/int_leftpad_function_fixture.tftpl
  corefuncprovider/int_leftpad_function_test.go
  corefuncprovider/provider.go
  corefuncprovider/str_leftpad_function.go
  corefuncprovider/str_leftpad_function_fixture.tftpl
  corefuncprovider/str_leftpad_function_test.go
  docs/functions/env_ensure.md
  docs/functions/int_leftpad.md
  docs/functions/str_leftpad.md
  examples/data-sources/corefunc_int_leftpad/versions.tf
  examples/data-sources/corefunc_str_leftpad/versions.tf
  examples/functions/corefunc_int_leftpad/function.tf
  examples/functions/corefunc_int_leftpad/versions.tf
  examples/functions/corefunc_str_leftpad/function.tf
  examples/functions/corefunc_str_leftpad/versions.tf
  generator/templates/function.md.gotmpl
  templates/functions.md.tmpl
  templates/functions/env_ensure.md.tmpl
  templates/functions/homedir_expand.md.tmpl
  templates/functions/str_camel.md.tmpl
  templates/functions/str_constant.md.tmpl
  templates/functions/str_kebab.md.tmpl
  templates/functions/str_pascal.md.tmpl
  templates/functions/str_snake.md.tmpl
  terratest/functions/leftpad.tf
  terratest/functions/terraform_test.go
Due: markdownlint

docs: Small fixes to the docs.
  corefuncprovider/url_parse_data_source.go
  docs/data-sources/str_iterative_replace.md
  docs/functions/str_snake.md
  examples/data-sources/corefunc_str_iterative_replace/data-source.tf
Due: markdownlint

docs: Updated the README.
  README.md
Due: none

refactor: Switch Description to MarkdownDescription. Fix str_iterative_replace.
  corefuncprovider/env_ensure_data_source.go
  corefuncprovider/homedir_expand_data_source.go
  corefuncprovider/homedir_get_data_source.go
  corefuncprovider/int_leftpad_data_source.go
  corefuncprovider/runtime_cpuarch_data_source.go
  corefuncprovider/runtime_goroot_data_source.go
  corefuncprovider/runtime_numcpus_data_source.go
  corefuncprovider/runtime_os_data_source.go
  corefuncprovider/str_camel_data_source.go
  corefuncprovider/str_constant_data_source.go
  corefuncprovider/str_iterative_replace_data_source.go
  corefuncprovider/str_iterative_replace_data_source_fixture.tftpl
  corefuncprovider/str_kebab_data_source.go
  corefuncprovider/str_leftpad_data_source.go
  corefuncprovider/str_pascal_data_source.go
  corefuncprovider/str_snake_data_source.go
  corefuncprovider/truncate_label_data_source.go
  corefuncprovider/url_parse_data_source.go
  generator/corefuncprovider/data_source.gotmpl
Due: none

feat: Implemented str_truncate_label() as a function.
  acc-coverage.png
  acc-coverage.svg
  corefuncprovider/provider.go
  corefuncprovider/str_truncate_label_function.go
  corefuncprovider/str_truncate_label_function_fixture.tftpl
  corefuncprovider/str_truncate_label_function_test.go
  examples/functions/corefunc_str_truncate_label/function.tf
  examples/functions/corefunc_str_truncate_label/versions.tf
  generator/main.go
  templates/functions/str_truncate_label.md.tmpl
  terratest/functions/str_truncate.tf
  terratest/functions/terraform_test.go
Due: none

feat: Partial implementation of str_iterative_replace.
  corefuncprovider/str_iterative_replace_function.go.bak
  corefuncprovider/str_iterative_replace_function_fixture.tftpl
  corefuncprovider/str_iterative_replace_function_test.go.bak
  examples/functions/corefunc_str_iterative_replace/function.tf
  examples/functions/corefunc_str_iterative_replace/versions.tf
Due: none

docs: Polishing up the provider function documentation.
  .golangci.yml
  Makefile
  acc-coverage.png
  acc-coverage.svg
  corefuncprovider/str_camel_data_source.go
  corefuncprovider/str_camel_function.go
  docs/data-sources/str_iterative_replace.md
  docs/functions/env_ensure.md
  docs/functions/homedir_expand.md
  docs/functions/int_leftpad.md
  docs/functions/str_camel.md
  docs/functions/str_constant.md
  docs/functions/str_kebab.md
  docs/functions/str_leftpad.md
  docs/functions/str_pascal.md
  docs/functions/str_snake.md
  docs/functions/url_parse.md
  examples/functions/corefunc_url_parse/function.tf
  templates/functions/str_truncate_label.md.tmpl
  unit-coverage.svg
Due: markdownlint

feat: Implemented url_parse() as a function.
  acc-coverage.png
  acc-coverage.svg
  corefuncprovider/provider.go
  corefuncprovider/url_parse_function.go
  corefuncprovider/url_parse_function_fixture.tftpl
  corefuncprovider/url_parse_function_test.go
  examples/functions/corefunc_url_parse/function.tf
  examples/functions/corefunc_url_parse/versions.tf
  templates/functions/url_parse.md.tmpl
  terratest/functions/terraform_test.go
  terratest/functions/url.tf
  unit-coverage.svg
Due: none

test: Add Terraform 1.8-beta1 to the test matrix.
  .github/workflows/test.yml
Due: none

docs: Updated the CHANGELOG.
  CHANGELOG.md
  acc-coverage.svg
  docs/functions/homedir_expand.md
Due: markdownlint

automation: Updated AUTHORS and CHANGELOG on Mon Mar 11 20:41:39 UTC 2024.
  CHANGELOG.md
Due: none

docs: Added OpenTofu 1.7.0-alpha1 to the test matrix.
  README.md
Due: none

docs: Added OpenTofu 1.7.0-alpha1 to the test matrix.
  templates/index.md.tmpl
Due: none

test: Added OpenTofu 1.7.0-alpha1 to the test matrix.
  .github/workflows/test.yml
Due: none
