Repository northwood-labs/terraform-provider-corefunc: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, shellcheck, shfmt, yamlfmt

markdownlint:
  tags: always,docs,formatting
  run: npx -y markdownlint-cli@0.40.0 --ignore=node_modules --ignore=.github --ignore=.templates --fix "{all_files}"
  stage_fixed: true

shellcheck:
  tags: always,shell
  run: shellcheck {staged_files}
  stage_fixed: false

shfmt:
  tags: always,shell
  run: shfmt --simplify --write --language-dialect=auto --indent=4 --case-indent --space-redirects {staged_files}
  stage_fixed: true

yamlfmt:
  tags: always,secrets
  run: yamlfmt {staged_files}
  stage_fixed: true

deps: Bumped-up the version of Go.
  unit-coverage.svg
Due: none

deps: Bumped-up the version of Go.
  .gitignore
  .vscode/settings.json
  Makefile
  generator/go.mod
  go.mod
  go.sum
  terratest/data-sources/go.mod
  terratest/data-sources/go.sum
  terratest/functions/go.mod
  terratest/functions/go.sum
  unit-coverage.svg
Due: none

automation: Updated AUTHORS and CHANGELOG on Wed Aug 6 17:37:25 UTC 2025.
  CHANGELOG.md
Due: none

automation: Updated AUTHORS and CHANGELOG on Wed Aug 6 17:41:44 UTC 2025.
  CHANGELOG.md
Due: none

test: Re-ran test suite, which generated code coverage graphs.
  acc-coverage.png
  acc-coverage.svg
  unit-coverage.svg
Due: none

test: Re-ran test suite, which generated code coverage graphs.
  acc-coverage.svg
  unit-coverage.svg
Due: none

automation: Updated AUTHORS and CHANGELOG on Wed Aug 6 17:53:21 UTC 2025.
  CHANGELOG.md
Due: none

deps: More version updates.
  Brewfile
  CONTRIBUTING.md
  Makefile
  go.tools.mod
  go.tools.sum
  poetry.lock
  pyproject.toml
  terratest/data-sources/go.sum
  terratest/functions/go.sum
Due: none

automation: Updated AUTHORS and CHANGELOG on Wed Aug 6 18:15:13 UTC 2025.
  CHANGELOG.md
Due: none

docs: Updated the cliff.toml with updated syntax.
  CHANGELOG.md
  cliff.toml
Due: none

automation: Updated AUTHORS and CHANGELOG on Wed Aug 6 18:27:58 UTC 2025.
  CHANGELOG.md
Due: none

automation: Updated AUTHORS and CHANGELOG on Thu Aug 7 21:02:29 UTC 2025.
  CHANGELOG.md
Due: none

feat: Added toml_to_json data source and function.
  acc-coverage.png
  acc-coverage.svg
  bats/ds_toml_to_json.bats.sh
  bats/tfschema_listing.bats.sh
  corefunc/toml_test.go
  corefuncprovider/provider.go
  corefuncprovider/provider_test.go
  corefuncprovider/toml_to_json_data_source.go
  corefuncprovider/toml_to_json_data_source_fixture.tftpl
  corefuncprovider/toml_to_json_data_source_test.go
  corefuncprovider/toml_to_json_function.go
  corefuncprovider/toml_to_json_function_fixture.tftpl
  corefuncprovider/toml_to_json_function_test.go
  docs/data-sources/toml_to_json.md
  docs/functions/toml_to_json.md
  docs/index.md
  examples/data-sources/corefunc_toml_to_json/data-source.tf
  examples/data-sources/corefunc_toml_to_json/versions.tf
  examples/functions/corefunc_toml_to_json/function.tf
  examples/functions/corefunc_toml_to_json/versions.tf
  go.mod
  go.sum
  go.tools.mod
  go.tools.sum
  main.go
  templates/data-sources/toml_to_json.md.tmpl
  templates/functions/toml_to_json.md.tmpl
  terratest/data-sources/go.mod
  terratest/data-sources/go.sum
  terratest/data-sources/terraform_test.go
  terratest/data-sources/toml.tf
  terratest/functions/go.mod
  terratest/functions/go.sum
  terratest/functions/terraform_test.go
  terratest/functions/toml.tf
  testfixtures/toml.example.toml
  testfixtures/toml.go
  unit-coverage.png
  unit-coverage.svg
Due: markdownlint, shellcheck, shfmt

feat: Added toml_to_json data source and function.
  acc-coverage.svg
  docs/index.md
  testfixtures/toml.example.toml
  unit-coverage.svg
Due: markdownlint

automation: Updated AUTHORS and CHANGELOG on Thu Aug 7 22:24:14 UTC 2025.
  CHANGELOG.md
Due: none

test: Added release-assets.githubusercontent.com to govulncheck.yml.
  .github/workflows/govulncheck.yml
  acc-coverage.svg
  unit-coverage.svg
Due: none

automation: Updated AUTHORS and CHANGELOG on Wed Aug 13 01:36:14 UTC 2025.
  CHANGELOG.md
Due: none

fix!: GOROOT has been deprecated in Go 1.25. Removing related code.
  bats/ds_runtime_goroot.bats.sh
  corefuncprovider/runtime_goroot_data_source.go
  corefuncprovider/runtime_goroot_data_source_fixture.tftpl
  corefuncprovider/runtime_goroot_data_source_test.go
  corefuncprovider/runtime_goroot_function.go
  corefuncprovider/runtime_goroot_function_fixture.tftpl
  corefuncprovider/runtime_goroot_function_test.go
  docs/data-sources/runtime_goroot.md
  docs/functions/runtime_goroot.md
  examples/data-sources/corefunc_runtime_goroot/data-source.tf
  examples/data-sources/corefunc_runtime_goroot/versions.tf
  examples/functions/corefunc_runtime_goroot/function.tf
  examples/functions/corefunc_runtime_goroot/versions.tf
  templates/data-sources/runtime_goroot.md.tmpl
  templates/functions/runtime_goroot.md.tmpl
  testfixtures/runtime_goroot.go
Due: markdownlint, shellcheck, shfmt

automation: Updated AUTHORS and CHANGELOG on Wed Aug 13 05:42:37 UTC 2025.
  CHANGELOG.md
Due: none

test: Ensure all test cases still work.
  Makefile
  acc-coverage.png
  acc-coverage.svg
  bats/tfschema_listing.bats.sh
  corefuncprovider/env_ensure_function_test.go
  go.mod
  go.sum
  go.tools.mod
  go.tools.sum
  terratest/data-sources/runtime.tf
  terratest/functions/runtime.tf
  unit-coverage.png
  unit-coverage.svg
Due: shellcheck, shfmt

Path conditions:
  markdownlint: any of: **/*.md
  shellcheck: any of: **/*.sh
  shfmt: any of: **/*.sh
  yamlfmt: any of: **/*.ya?ml
