Repository northwood-labs/terraform-provider-corefunc: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, shellcheck, shfmt, yamlfmt

markdownlint:
  tags: always,docs,formatting
  run: npx -y markdownlint-cli@0.40.0 --ignore=node_modules --ignore=.github --ignore=.templates --fix "{all_files}"
  stage_fixed: true

shellcheck:
  tags: always,shell
  run: shellcheck {staged_files}
  stage_fixed: false

shfmt:
  tags: always,shell
  run: shfmt --simplify --write --language-dialect=auto --indent=4 --case-indent --space-redirects {staged_files}
  stage_fixed: true

yamlfmt:
  tags: always,secrets
  run: yamlfmt {staged_files}
  stage_fixed: true

docs: Updated the Terraform documentation to include the lockfile.
  .gitignore
  .licenses.cache.json
  docs/data-sources/str_iterative_replace.md
  docs/index.md
  examples/provider/lock-all.sh
  examples/provider/lock-ext.sh
  examples/provider/lock.sh
  templates/index.md.tmpl
Due: markdownlint, shellcheck, shfmt

docs: Updated the README.
  README.md
Due: none

relprep: Preparing the 1.0.3 release.
  CHANGELOG.md
Due: none

docs: Updated the CHANGELOG.
  CHANGELOG.md
Due: none

feat: Begin implementations of StrLeftPad and IntLeftPad.
  corefunc/int_pad.go
  corefunc/int_pad_test.go
  corefunc/str_pad.go
  corefunc/str_pad_test.go
  testfixtures/int_pad.go
  testfixtures/str_pad.go
  unit-coverage.png
  unit-coverage.svg
Due: none

test: Lookup and run fuzz tests programmatically.
  Makefile
Due: none

feat: Implemented the provider side of leftpad functions. (#73)
  .licenses.cache.json
  acc-coverage.png
  acc-coverage.svg
  bats/int_leftpad.bats.sh
  bats/str_leftpad.bats.sh
  bats/tfschema_listing.bats.sh
  corefunc/str_pad.go
  corefunc/str_pad_test.go
  corefuncprovider/env_ensure_data_source.go
  corefuncprovider/int_leftpad_data_source.go
  corefuncprovider/int_leftpad_data_source_fixture.tftpl
  corefuncprovider/int_leftpad_data_source_test.go
  corefuncprovider/provider.go
  corefuncprovider/str_leftpad_data_source.go
  corefuncprovider/str_leftpad_data_source_fixture.tftpl
  corefuncprovider/str_leftpad_data_source_test.go
  docs/data-sources/int_leftpad.md
  docs/data-sources/str_leftpad.md
  examples/data-sources/corefunc_int_leftpad/data-source.tf
  examples/data-sources/corefunc_int_leftpad/versions.tftpl
  examples/data-sources/corefunc_str_leftpad/data-source.tf
  examples/data-sources/corefunc_str_leftpad/versions.tftpl
  examples/provider/lock-all.sh
  examples/provider/lock-ext.sh
  examples/provider/lock.sh
  templates/data-sources/int_leftpad.md.tmpl
  templates/data-sources/str_leftpad.md.tmpl
  testfixtures/str_pad.go
  unit-coverage.png
  unit-coverage.svg
Due: markdownlint, shellcheck, shfmt

docs: Regenerated the provider documentation.
  docs/data-sources/str_iterative_replace.md
  docs/index.md
Due: markdownlint

docs: Added a note about base10 to corefunc_int_leftpad.
  corefuncprovider/int_leftpad_data_source.go
  docs/data-sources/int_leftpad.md
Due: markdownlint

lint: Updated the cache of dependency license information.
  .licenses.cache.json
Due: none

docs: Ran Markdownlint on the CHANGELOG.
  CHANGELOG.md
Due: none

relprep: Updated the CHANGELOG.
  CHANGELOG.md
Due: none

refactor: Added wrapper corefunc functions for all caps functions.
  corefunc/caps.go
  corefunc/caps_test.go
  corefuncprovider/str_camel_data_source.go
  corefuncprovider/str_constant_data_source.go
  corefuncprovider/str_kebab_data_source.go
  corefuncprovider/str_snake_data_source.go
Due: none

feat: Added support for corefunc.Homedir() and corefunc_homedir_get. (#77)
  .licenses.cache.json
  acc-coverage.png
  acc-coverage.svg
  bats/homedir_get.bats.sh
  bats/tfschema_listing.bats.sh
  corefunc/homedir.go
  corefunc/homedir_test.go
  corefuncprovider/env_ensure_data_source_test.go
  corefuncprovider/homedir_get_data_source.go
  corefuncprovider/homedir_get_data_source_fixture.tftpl
  corefuncprovider/homedir_get_data_source_test.go
  corefuncprovider/int_leftpad_data_source_test.go
  corefuncprovider/provider.go
  corefuncprovider/str_camel_data_source_test.go
  corefuncprovider/str_constant_data_source_test.go
  corefuncprovider/str_iterative_replace_data_source_test.go
  corefuncprovider/str_kebab_data_source_test.go
  corefuncprovider/str_leftpad_data_source_test.go
  corefuncprovider/str_pascal_data_source_test.go
  corefuncprovider/truncate_label_data_source_test.go
  docs/data-sources/homedir_get.md
  examples/data-sources/corefunc_homedir_get/data-source.tf
  examples/data-sources/corefunc_homedir_get/versions.tftpl
  generator/corefuncprovider/data_source_test.gotmpl
  go.mod
  go.sum
  templates/data-sources/int_leftpad.md.tmpl
  templates/data-sources/str_leftpad.md.tmpl
  testfixtures/homedir_get.go
  unit-coverage.png
  unit-coverage.svg
Due: markdownlint, shellcheck, shfmt

feat: Added initial support for Homedir lookups.
  README.md
  acc-coverage.png
  acc-coverage.svg
  corefunc/homedir_test.go
  corefuncprovider/homedir_get_data_source_test.go
  go.sum
  unit-coverage.png
  unit-coverage.svg
Due: none

deps: Remove the restriction to pre-1.6 versions of Terraform in examples.
  examples/data-sources/corefunc_homedir_expand/versions.tftpl
  examples/data-sources/corefunc_homedir_get/versions.tftpl
  examples/data-sources/corefunc_str_iterative_replace/versions.tftpl
  generator/examples/versions.tftpl
Due: none

relprep: Preparing the 1.1.0 release.
  CHANGELOG.md
Due: none

relprep: Prepping the release.
  .licenses.cache.json
  CHANGELOG.md
  VERSION
Due: none

feat: Added corefunc_homedir_expand.
  .licenses.cache.json
  acc-coverage.png
  acc-coverage.svg
  bats/homedir_expand.bats.sh
  bats/tfschema_listing.bats.sh
  corefuncprovider/homedir_expand_data_source.go
  corefuncprovider/homedir_expand_data_source_fixture.tftpl
  corefuncprovider/homedir_expand_data_source_test.go
  corefuncprovider/homedir_get_data_source.go
  corefuncprovider/int_leftpad_data_source.go
  corefuncprovider/provider.go
  corefuncprovider/str_leftpad_data_source.go
  docs/data-sources/homedir_expand.md
  docs/data-sources/str_camel.md
  examples/data-sources/corefunc_homedir_expand/data-source.tf
  examples/data-sources/corefunc_homedir_expand/versions.tftpl
  testfixtures/homedir_expand.go
  unit-coverage.svg
Due: markdownlint, shellcheck, shfmt

deps: Updated Go dependencies.
  go.mod
  go.sum
Due: none

test: Added tests with Terratest to compare the Terraform provider with the Go library.
  terratest/.terraform.lock.hcl
  terratest/README.md
  terratest/env.tf
  terratest/go.mod
  terratest/go.sum
  terratest/homedir.tf
  terratest/leftpad.tf
  terratest/locals.tf
  terratest/outputs.tf
  terratest/str_format.tf
  terratest/str_replace.tf
  terratest/str_truncate.tf
  terratest/terraform_test.go
  terratest/versions.tf
Due: markdownlint

deps: Pin the version of the GoSec action.
  .github/workflows/gosec.yml
Due: none

Apply security best practices (#86)
  .github/dependabot.yml
  .github/workflows/gosec.yml
Due: none

deps: Pin the version of the Trufflehog action.
  .github/workflows/trufflehog.yml
Due: none

ci: Harden GitHub Actions (#87)
  .github/workflows/trufflehog.yml
Due: none

docs: Updated the templates used by tfplugindocs.
  docs/data-sources/str_camel.md
  docs/index.md
  templates/index.md.tmpl
Due: markdownlint

docs: Updated the README for the Terratest tests.
  terratest/.gitignore
  terratest/.terraform.lock.hcl
  terratest/README.md
Due: markdownlint

deps: Update the go.sum file.
  .licenses.cache.json
  terratest/go.sum
  terratest/osv-scanner.toml
  terratest/terraform_test.go
Due: none

test: Make the GoSec scanning more robust.
  .github/workflows/gosec.yml
Due: none

ci: Harden GitHub Actions (#92)
  .github/workflows/gosec.yml
Due: none

relprep: Prepping the release.
  CHANGELOG.md
  VERSION
Due: none

relprep: Preparing the 1.1.1 release.
  CHANGELOG.md
Due: none

fix: Resolve issues in the go.sum file.
  go.sum
Due: none

test: Disable GoSec Sarif uploading until we know why it's failing.
  .github/workflows/gosec.yml
Due: none

test: Add Terraform 1.7 to the test matrix.
  .github/workflows/test.yml
Due: none

test: Enable workflow_dispatch to trigger tests manually.
  .github/workflows/go-dep-submission.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/gosec.yml
  .github/workflows/govulncheck.yml
  .github/workflows/osv-scanner.yml
  .github/workflows/test.yml
  .github/workflows/trufflehog.yml
Due: none

test: Discovered issue in calling GoSec.
  .github/workflows/gosec.yml
Due: none

test: Disable GoSec workflow for the time being.
  .github/workflows/gosec.yml.bak
Due: none

test: Auto-update AUTHORS and CHANGELOG on commit.
  .github/workflows/update-on-push.yml
  CHANGELOG.md
  cliff.toml
Due: none

Path conditions:
  markdownlint: any of: **/*.md
  shellcheck: any of: **/*.sh
  shfmt: any of: **/*.sh
  yamlfmt: any of: **/*.ya?ml
