Repository northwood-labs/terraform-provider-corefunc: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, shellcheck, shfmt, yamlfmt

markdownlint:
  tags: always,docs,formatting
  run: npx -y markdownlint-cli@0.40.0 --ignore=node_modules --ignore=.github --ignore=.templates --fix "{all_files}"
  stage_fixed: true

shellcheck:
  tags: always,shell
  run: shellcheck {staged_files}
  stage_fixed: false

shfmt:
  tags: always,shell
  run: shfmt --simplify --write --language-dialect=auto --indent=4 --case-indent --space-redirects {staged_files}
  stage_fixed: true

yamlfmt:
  tags: always,secrets
  run: yamlfmt {staged_files}
  stage_fixed: true

automation: Updated AUTHORS and CHANGELOG on Thu Aug 21 17:05:42 UTC 2025.
  CHANGELOG.md
Due: none

feat: Implementing json_to_toml in the provider.
  README.md
  bats/ds_json_to_toml.bats.sh
  bats/tfschema_listing.bats.sh
  cmd/json2toml.go
  cmd/toml2json.go
  corefuncprovider/json_to_toml_data_source.go
  corefuncprovider/json_to_toml_data_source_fixture.tftpl
  corefuncprovider/json_to_toml_data_source_test.go
  corefuncprovider/json_to_toml_function.go
  corefuncprovider/json_to_toml_function_fixture.tftpl
  corefuncprovider/json_to_toml_function_test.go
  corefuncprovider/provider.go
  docs/index.md
  examples/data-sources/corefunc_json_to_toml/data-source.tf
  examples/data-sources/corefunc_json_to_toml/versions.tf
  examples/functions/corefunc_json_to_toml/function.tf
  examples/functions/corefunc_json_to_toml/versions.tf
  templates/data-sources/json_to_toml.md.tmpl
  templates/functions/json_to_toml.md.tmpl
  terratest/data-sources/go.mod
  terratest/data-sources/go.sum
  terratest/data-sources/json.tf
  terratest/data-sources/terraform_test.go
  terratest/functions/go.mod
  terratest/functions/go.sum
  terratest/functions/json.tf
  terratest/functions/terraform_test.go
  testfixtures/toml.go
Due: markdownlint, shellcheck, shfmt

test: Added Terraform 1.13 and 1.14 to the test matrix.
  .github/workflows/test.yml
Due: none

test: Updated Go baseline to version 1.25.
  .github/workflows/go-dep-submission.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/govulncheck.yml
  .github/workflows/release.yml
  .github/workflows/terratest.yml
Due: none

deps: Updated the Go dependencies.
  Makefile
  acc-coverage.png
  acc-coverage.svg
  generator/go.mod
  go.mod
  go.sum
  go.tools.mod
  go.tools.sum
Due: none

deps: Updated the Go dependencies.
  acc-coverage.svg
  go.tools.sum
Due: none

automation: Updated AUTHORS and CHANGELOG on Fri Aug 22 17:16:22 UTC 2025.
  CHANGELOG.md
Due: none

test: Apply GOEXPERIMENT=greenteagc,jsonv2 to tests and release builds.
  .github/workflows/test.yml
  .goreleaser.yml
Due: none

automation: Updated AUTHORS and CHANGELOG on Fri Aug 22 17:22:10 UTC 2025.
  CHANGELOG.md
Due: none

docs: Generated the new documentation pages for json_to_toml.
  docs/data-sources/json_to_toml.md
  docs/functions/json_to_toml.md
  docs/index.md
Due: markdownlint

test: Working tests for json_to_toml.
  .golangci.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  Makefile
  README.md
  acc-coverage.png
  acc-coverage.svg
  corefuncprovider/json_to_toml_data_source_fixture.tftpl
  corefuncprovider/json_to_toml_function_fixture.tftpl
  corefuncprovider/json_to_toml_function_test.go
  corefuncprovider/toml_to_json_data_source_fixture.tftpl
  corefuncprovider/toml_to_json_function_fixture.tftpl
  corefuncprovider/toml_to_json_function_test.go
  docs/index.md
  templates/index.md.tmpl
  terratest/data-sources/json.tf
  testfixtures/toml.go
Due: markdownlint

test: Working tests for json_to_toml.
  .golangci.yml
  acc-coverage.svg
  testfixtures/toml.go
Due: none

test: Small fixes with running the test suite.
  .github/workflows/golangci-lint.yml
  .github/workflows/test.yml
  README.md
  docs/index.md
  templates/index.md.tmpl
Due: markdownlint

fix: Address linting issues.
  .golangci.yml
  corefuncprovider/json_to_toml_data_source.go
  corefuncprovider/json_to_toml_function.go
  generator/corefuncprovider/function.gotmpl
  terratest/data-sources/terraform_test.go
  terratest/functions/terraform_test.go
Due: none

automation: Updated AUTHORS and CHANGELOG on Fri Aug 22 23:38:43 UTC 2025.
  CHANGELOG.md
Due: none

relprep: Preparing the v2.0.0 release.
  CHANGELOG.md
Due: none

automation: Updated AUTHORS and CHANGELOG on Sat Aug 23 03:44:06 UTC 2025.
  CHANGELOG.md
Due: none

test: Fixed a missing dependency in the release workflow.
  .github/workflows/release.yml
Due: none

automation: Updated AUTHORS and CHANGELOG on Sat Aug 23 03:55:26 UTC 2025.
  CHANGELOG.md
Due: none

Path conditions:
  markdownlint: any of: **/*.md
  shellcheck: any of: **/*.sh
  shfmt: any of: **/*.sh
  yamlfmt: any of: **/*.ya?ml
